<!-- templates/about.html -->
{% extends "base.html" %}

{% block title %}About - Sai kiran{% endblock %}

{% block content %}
<h2>About</h2>
<p>
  Results-driven Data Engineer with 5+ years of experience in building scalable ETL pipelines and real-time data solutions.
  Skilled in Apache Spark, Kafka, Flink, and Airflow for big data processing and orchestration.
  Proficient in AWS and Azure cloud platforms, including Redshift, Glue, S3, ADF, and Databricks.
  Expert in Snowflake, SQL/NoSQL databases, and data lake/warehouse migrations.
  Strong in Python, Scala, and SQL with a focus on performance optimization and automation.
</p>

<h2>Education</h2>
<p>
<p>Schooling: Sri Sai Public School, Hyderabad</p>
</p>              Pratibha High School, Hyderabad</p>
</p>Intermediate: (MPC) Sri Medha "V" Jr collage, Hyderabad</p>
</p>Bachelor's: B.com Computer's, Keshav Memorial Collage, Hyderabad May-2018</p>
</p>Master's: MBA Business analytics, Gannon University, May-2023</p>
</p>
{% endblock %}
